---
- hosts: centos
  become: true 
  
  tasks: 

  - name: update all installed packages
    ansible.builtin.dnf: 
      name: "*" 
      state: latest 
    notify: Reboot servers 

  handlers:  
        
  - name: Reboot Servers 
    ansible.builtin.reboot: 

 
